body{
    margin:0;
}
nav {
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #979797;
    box-sizing: border-box;
  }
  nav .nav__logo {
    width: auto;
    height: 10vh;
    margin-left: 5vw;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 3vw;
  }
  nav ul li {
    padding: 0 2vw;
  }
  nav li a {
    color: #000;
    text-decoration: none;
  }
  nav li a:hover {
    text-decoration: underline;
  }